<%-include("includes/header.ejs")%>
        <title>FlashVault -  New FlashText</title>
</head>
<body>
    <div style="text-align: center;">
    <h3>Copied</h3>
    <h4>Thank for using FlashVault</h4>
    <h4>Your Feedback is valuable for Us</h4>
    <a href="https://forms.gle/FWDUSkTJbQgU1sdVA"><button>FeedBack</button></a>
    </div>
<%-include("includes/footer.ejs")%>
