<!-- now we are bgoing bto make the landibng page and and also use subtemplates here -->
 <%-include("includes/header.ejs")%>
        <title>FlashVault - Welcome</title>
        <link rel="icon" href="">
</head>
<body>
    <h2>Welcome to FlashVault</h2>
    <button>Click Me</button>