<!-- now we are bgoing bto make the landibng page and and also use subtemplates here -->
 <%-include("includes/header.ejs")%>
        <title>FlashVault - Welcome</title>
        <link rel="icon" href="">
</head>
<body>
    <div style="text-align: center;">
    <h2>Welcome to FlashVault</h2>
    <h3>This Message Will Self-Destruct</h3>
    <p>Create a secure, one-time link</p><p>Once the recipient views it, the message vanishes forever</p><p>No logs. No traces.Fully Encrypted</p><br>
    <a href="/new"><button>Click Me</button></a>
    </div>